    <%-include("./partials/header.ejs") %>
    <div id="chat-container">
      
      <div class="dash-title">
          <h1> WELCOME TO ACCREDITATION ZONE</h1>
      </div>
      <div class="side-image">
        <img src="./images/dashboardPic.png" width="60%"  alt="side-bar" />
      </div>
    </div>

    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Username" />
            <input type="button" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
